@media only screen and (min-width : 320px) and (max-width : 481px) {
   

	
.lft_side{ width:100% !important;}
.tp_logo a img{width:120px !important;}
.tp_menu span{ padding-top:14px;}

.tp_header{margin-bottom:20px;}




.bnr_top{
	margin-bottom: 0px !important;
}

.bnr_title{
	font-size:22px !important;
}

.bnr_form_inner{
	top:20px !important;
	width:100% !important;
}

.footer-nav li a{
	font-size:12px !important;
}
.copyright{
	font-size:12px !important;
}
.bottom-section{
	padding: 15px 0 !important;
}


}



@media only screen and (min-width : 768px) {

	.lft_side {
		width: 60% !important;
	}

	.overlay1{
		width:60% !important;
	}
	
}

@media only screen and (min-width : 1024px) {
	
	.lft_side {
		width: 40% !important;
	}

	.overlay1{
		width:40% !important;
	}
	
}

