html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Color Variables */
/*header*/
/*footer*/
/*content*/
@font-face {
    font-family: 'Gentona';
  src: url("../fonts/Gentona-Book.html");
  src: url("../fonts/Gentona-Book.woff") format("woff"), url("../fonts/Gentona-Book.otf"), url("../fonts/Gentona-Book.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
    font-family: 'Gentona';
  src: url("../fonts/Gentona-Medium.html");
  src: url("../fonts/Gentona-Medium.woff") format("woff"), url("../fonts/Gentona-Medium.otf"), url("../fonts/Gentona-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
    font-family: 'Gentona';
  src: url("../fonts/Gentona-Light.eot");
  src: url("../fonts/Gentona-Light.woff") format("woff"), url("../fonts/Gentona-Light.otf"), url("../fonts/Gentona-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
    font-family: 'Gentona';
  src: url("../fonts/Gentona-SemiBold.eot");
  src: url("../fonts/Gentona-SemiBold.woff") format("woff"), url("../fonts/Gentona-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-size: 14px;
    font-family: 'Gentona';
    font-weight: 400;
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

a:hover, a:focus, a:focus {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none !important;
}

.overlay-hide {
    display: none;
}

/*Header */
.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
}

header {
    transition: all 0.2s ease;
}

header.ola-header .pull-left {
    float: left;
}

header.ola-header .pull-right {
    float: right;
}

header.ola-header .logo {
    width: 120px;
}

.primary-header {
    background: #000000;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    font-size: 13px;
    overflow: hidden;
}

.primary-header .logo {
    width: 80px;
}

.primary-header a {
    text-decoration: none;
}

.primary-header .ola-link {
    color: #CCE600;
}

.primary-header .primary-links .link-wrapper {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.primary-header .primary-links .link-wrapper:last-child {
    border-right: 0;
    padding-right: 0;
}

.primary-header .primary-links a {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
}

.primary-header .primary-links a.active {
    color: #FFFFFF;
}

.primary-header .primary-links a:hover {
    color: #8EC44A;
}

.primary-header .primary-links a:last-child {
    padding-right: 0;
}

.secondary-header {
    background: #FFFFFF;
    padding: 11px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    text-align: right;
    transition: all 0.2s ease;
    transform: translateY(0);
    z-index: 100;
    height: 65px;
    width: 100%;
}

.secondary-header a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.secondary-header a:focus {
    outline: none;
}

.secondary-header .menu-icon {
    padding: 7px 8px;
    float: left;
}

.secondary-header .menu-icon:hover, .secondary-header .menu-icon:focus, .secondary-header .menu-icon:active {
    background: rgba(0, 0, 0, 0.08);
}

.secondary-header .mb-logo {
    display: none;
}

.secondary-header .mb-logo .mb-logo-img {
    display: none;
}

.secondary-header .secondary-links a {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 11px 22px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.secondary-header .secondary-links a:hover {
    color: #8EC44A;
}

.secondary-header .secondary-links .active-page {
    position: relative;
}

.secondary-header .secondary-links .active-page:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background: #CCE500;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.secondary-header .secondary-links .active-line {
    position: absolute;
    width: 70px;
    height: 3px;
    background: #CCE500;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.secondary-header .secondary-links .login-link {
    position: relative;
    font-weight: 400;
    background: #CCE500;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    margin-top: 2px;
}

.secondary-header .secondary-links .login-link:hover {
    background: #bdd400;
    color: black;
}

.secondary-header .secondary-links .login-link .mid-line {
    position: absolute;
    left: 0;
    height: 20px;
    background: rgba(155, 155, 155, 0.3);
    width: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.secondary-header .secondary-links .user-profile-link {
    padding: 0;
    margin-left: 22px;
}

.secondary-header .secondary-links .user-profile-link img {
    width: 38px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar_navigation {
    width: 280px;
    position: fixed;
    top: 0;
    left: -100%;
    background: #FFFFFF;
    height: 100%;
    z-index: 12;
    overflow-x: hidden;
    opacity: 1;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    white-space: nowrap;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebar_navigation .close_btn {
    width: 40px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    color: #333;
    float: left;
    cursor: pointer;
    text-align: center;
}

.sidebar_navigation .close_btn:hover, .sidebar_navigation .close_btn:focus, .sidebar_navigation .close_btn:active {
    background: rgba(0, 0, 0, 0.08);
}

.sidebar_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_navigation li a {
    width: 100%;
    float: left;
    padding: 15px 20px;
    color: #4A4A4A;
    text-decoration: none;
    font-size: 14px;
}

.sidebar_navigation li a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.sidebar_navigation li a:focus {
    outline: none;
}

/*Footer*/
.xs-clearfix {
    display: none;
}

footer {
    width: 100%;
    float: left;
    background: #393939;
    position: relative;
    z-index: 5;
}

.footer-wrapper .copyright_info {
    display: block;
    width: 100%;
    text-align: right;
    color: #9B9B9B;
    font-weight: 300;
    padding: 40px 0 45px 20px;
    letter-spacing: 0.3px;
    margin: auto;
}

.footer-wrapper .mid-line {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 1px;
    margin-top: 45px;
}

.custom_footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0 0px 0;
    background: #393939;
    letter-spacing: 0.3px;
}

.custom_footer .footer_logo {
    width: 20%;
    float: left;
}

.custom_footer .footer_logo img {
    width: 80px;
}

.custom_footer .footer_links {
    width: 80%;
    float: left;
    font-weight: 300;
}

.custom_footer .footer_links .indiv_col {
    width: 20%;
    float: left;
}

.custom_footer .footer_links .indiv_col label {
    color: #FFFFFF;
    margin-bottom: 18px;
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.custom_footer .footer_links .indiv_col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom_footer .footer_links .indiv_col li {
    display: block;
    margin-bottom: 20px;
}

.custom_footer .footer_links .indiv_col li:last-child {
    margin-bottom: 0;
}

.custom_footer .footer_links .indiv_col a {
    text-decoration: none;
    cursor: pointer;
    color: #9B9B9B;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
}

.custom_footer .footer_links .indiv_col a:hover {
    color: #8EC44A;
}

.custom_footer .app_download {
    width: 20%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 10px;
}

.custom_footer .app_download ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom_footer .app_download li {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0 0 0;
    width: 53px;
    height: 53px;
    text-align: center;
    position: relative;
}

.custom_footer .app_download li:first-child {
    margin-left: 0;
}

.custom_footer .app_download a {
    text-decoration: none;
    cursor: pointer;
    width: 53px;
    height: 53px;
    display: table-cell;
    border: 1px solid #393939;
    border-radius: 5px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.1);
}

.custom_footer .app_download a img {
    width: 28px;
}

.custom_footer .app_download a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Jquery Tool Tip */
.jq-tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-size: 14px;
    z-index: 5;
    left: 0;
    bottom: 0;
}

/* Bootstrap tool tip */
.tooltip-inner {
    font-family: 'Gentona';
    font-weight: 400;
    letter-spacing: 0.3px;
}

/*Css Tool tip*/
.cus-tooltip {
    position: relative;
}

.cus-tooltip .tooltiptext {
    visibility: hidden;
    min-width: 80px;
    background-color: rgba(61, 70, 77, 0.1);
    color: #141414;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.cus-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(61, 70, 77, 0.1) transparent;
}

.cus-tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Ripple effect*/
.ripple {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.ripple:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
}

.ripple:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}

/*Mixins*/
/*helper*/
.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-h-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.show-xs {
    display: none !important;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.30s;
    -moz-animation-delay: 0.30s;
    -o-animation-delay: 0.30s;
    animation-delay: 0.30s;
}

.fadeIn {
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

/*keyframes*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes slide {
    from {
        transform: translateX(-25px);
    }

    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes slide {
    from {
        transform: translateX(-25px);
    }

    to {
        transform: translateX(0px);
    }
}

@-ms-keyframes slide {
    from {
        transform: translateX(-25px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slide {
    from {
        transform: translateX(-25px);
    }

    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-back {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-front {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

@media only screen and (max-width: 768px) {
  /*header*/
    header .ola-header .logo {
        width: 100px;
    }

    header.ola-header .pull-left {
        width: 100%;
        position: relative;
    }

    .secondary-header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;
        padding: 0;
        height: 50px;
    }

    .secondary-header .max-width {
        height: 100%;
    }

    .secondary-header .pull-left {
        height: 100%;
    }

    .secondary-header .menu-icon {
        position: absolute;
        padding: 12px 8px;
        z-index: 2;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .secondary-header .menu-icon img {
        width: 24px;
        height: 24px;
        padding: 0 2px;
    }

    .secondary-header .mb-logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 70px;
        height: 28px;
        z-index: 2;
    }

    .secondary-header .mb-logo .mb-logo-img {
        display: inline-block;
        width: 70px;
        height: 28px;
    }
  /*footer*/
    .custom_footer {
        width: 100%;
        padding: 20px 16px 0 16px;
    }

    .custom_footer .footer_logo {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .custom_footer .footer_links {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 0;
    }

    .custom_footer .footer_links .indiv_col {
        width: 50%;
        margin-top: 20px;
    }

    .custom_footer .app_download {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .custom_footer .footer_links .indiv_col label {
        margin-bottom: 15px;
    }

    .custom_footer .footer_links .indiv_col li {
        margin-bottom: 10px;
    }

    .custom_footer .footer_links .indiv_col li:last-child {
        margin-bottom: 0;
    }

    .custom_footer .app_download li {
        margin: 10px 0 5px 10px;
    }

    .custom_footer .copyright_info {
        font-size: 10px;
    }

    .xs-clearfix {
        display: block;
    }

    .xs-clearfix:before, .xs-clearfix:after {
        content: "";
        display: table;
    }

    .xs-clearfix:after {
        clear: both;
    }

    .footer-wrapper .copyright_info {
        padding: 20px;
        text-align: center;
    }

    .footer-wrapper .mid-line {
        margin-top: 20px;
    }

    .show-xs {
        display: block !important;
    }

    .hide-xs {
        display: none !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  /*footer*/
    .custom_footer .footer_logo {
        width: 20%;
        padding-left: 0;
    }

    .custom_footer .footer_links {
        width: 80%;
    }

    .custom_footer .app_download {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .custom_footer .footer_links .indiv_col li:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1220px) {
    .custom_footer {
        width: 100%;
        padding: 40px 20px 0 20px;
    }

    .footer-wrapper .copyright_info {
        padding: 30px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1180px) {
    .custom_footer {
        width: 100%;
        padding: 40px 20px 0 20px;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-size: 14px;
    font-family: 'Gentona';
    background: #FFFFFF;
    font-weight: 400;
}

body header.ola-header .logo {
    height: 42px;
    width: 225px;
}

.active-opacity {
    opacity: 0.3;
}

.body-top-padding {
    padding-top: 99px;
}

.body-overflow {
    overflow: hidden !important;
}

.max-width {
    max-width: 1200px;
    margin: auto;
}

.hide {
    display: none !important;
}

.top-banner {
    height: 620px;
    position: relative;
    transition: all 0.2s ease;
    transform: translateY(0);
}

.top-banner .btn-wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.custom-carousel-wrapper .overlay {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.custom-carousel-wrapper .overlay-left {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    opacity: 0.6;
    background-image: -webkit-linear-gradient(right, transparent 28%, #000000 77%);
    background-image: -o-linear-gradient(right, transparent 28%, #000000 77%);
    background-image: linear-gradient(to left, transparent 28%, #000000 77%);
    z-index: 2;
}

.custom-carousel-wrapper .carousel-item {
    height: 620px;
    position: relative;
}

.custom-carousel-wrapper .nearby-banner {
    background-image: url("../img/share-express/landing-banner.jpg");
    background-position: 0 60%;
}

.custom-carousel-wrapper .banner {
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-carousel-wrapper .carousel-wrapper {
    height: 100%;
    position: relative;
}

.custom-carousel-wrapper .carousel-content {
    position: absolute;
    top: 46%;
    left: 5px;
    letter-spacing: 0.5px;
    z-index: 5;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-carousel-wrapper .carousel-content .heading {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.custom-carousel-wrapper .carousel-content .title {
    font-size: 48px;
    margin: 0 0 20px 0;
    font-weight: 600;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    line-height: 52px;
}

.custom-carousel-wrapper .carousel-content .mix-title {
    font-size: 48px;
    margin: 0 0 20px 0;
    font-weight: 400;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    line-height: 52px;
}

.custom-carousel-wrapper .carousel-content .mix-title h1 {
    font-weight: 600;
    font-size: 48px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.custom-carousel-wrapper .carousel-content .sub-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 40px;
    margin-top: 25px;
}

.custom-carousel-wrapper .carousel-content .book-btn {
    width: 250px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #CCE500;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    margin-right: 15px;
}

.custom-carousel-wrapper .carousel-content .book-btn:hover {
    background: #bdd400;
}

.custom-carousel-wrapper .carousel-content .book-btn:focus {
    outline: none;
}

.custom-carousel-wrapper .carousel-content .watch-btn {
    width: 185px;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0);
    height: 48px;
    line-height: 43px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    margin-left: 15px;
}

.custom-carousel-wrapper .carousel-content .watch-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.custom-carousel-wrapper .carousel-content .watch-btn:focus {
    outline: none;
}

.custom-carousel-wrapper .carousel-content .watch-btn .triangle-icon {
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.section-container {
    letter-spacing: 0.3px;
}

.section-container .section-heading {
    font-size: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.92);
    margin-bottom: 5px;
    display: block;
}

.section-container .section-sub-heading {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.92);
    opacity: 0.9;
    display: block;
}

/*share pass */
.share-pass-info-wrapper {
    padding: 60px 20px 60px 20px;
    text-align: center;
}

.share-pass-info-wrapper .section-container .section-heading {
    padding-bottom: 20px;
}

.share-pass-info-wrapper .section-container .section-sub-heading {
    max-width: 70%;
    line-height: 26px;
    text-align: center;
    margin: auto;
}

.share-pass-features {
    padding: 60px 0;
    background: #FFFFFF;
}

.share-pass-features .section-container {
    text-align: center;
}

.share-pass-features .wd-3 {
    width: 33.33%;
    float: left;
    padding: 0 20px;
}

.share-pass-features .features-row {
    padding-top: 80px;
    max-width: 100%;
    display: block;
    overflow: hidden;
}

.share-pass-features .features-row .img-holder {
    display: block;
    padding-bottom: 40px;
}

.share-pass-features .features-row .img-holder img {
    max-width: 300px;
    height: 135px;
    border-radius: 10px;
}

.share-pass-features .features-row .info {
    display: block;
    padding: 20px 15px 0 15px;
}

.share-pass-features .features-row .info .heading {
    font-size: 24px;
    font-weight: 400;
    color: #4A4A4A;
    margin-bottom: 10px;
    display: block;
}

.share-pass-features .features-row .info .msg {
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    display: block;
    line-height: 24px;
    padding: 0 5px;
}

.share-pass-features .padding-left-0 {
    padding-left: 0 !important;
}

.share-pass-features .padding-right-0 {
    padding-right: 0 !important;
}

.share-pass-login {
    background: rgba(219, 224, 227, 0.1);
    padding: 60px 20px 60px 20px;
    overflow: hidden;
}

.share-pass-login .section-container .section-heading {
    padding-bottom: 20px;
    padding-top: 10px;
    line-height: 40px;
}

.share-pass-login .wd-80 {
    width: 85%;
    margin: auto;
}

.share-pass-login .wd-50 {
    width: 50%;
    float: left;
}

.share-pass-login .top-space {
    padding-top: 60px;
}

.share-pass-login .padding-left {
    padding-left: 20px;
}

.share-pass-login .padding-right {
    padding-right: 20px;
}

.share-pass-login .tab-list {
    width: 100%;
    display: block;
}

.share-pass-login .tab-list .tab {
    margin-top: 20px;
    opacity: 0.6;
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    width: 100%;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    min-height: 0;
}

.share-pass-login .tab-list .tab .tab_heading {
    font-size: 18px;
    font-weight: 400;
    color: #4A4A4A;
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
    width: 100%;
    line-height: 26px;
}

.share-pass-login .tab-list .tab .tab_sub_content {
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    line-height: 24px;
    padding-right: 10px;
    cursor: pointer;
    display: none;
    width: 100%;
    min-height: 0;
}

.share-pass-login .tab-list .tab .link {
    color: #4990E2;
    z-index: 5;
    cursor: pointer;
    cursor: pointer;
}

.share-pass-login .tab-list .tab:hover {
    opacity: 1;
}

.share-pass-login .tab-list .tab:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    display: block;
    border-radius: 50%;
    border: 5px solid #9B9B9B;
    left: -3px;
    margin: auto;
    top: 5px;
    z-index: 2;
}

.share-pass-login .tab-list li {
    margin-top: 20px;
}

.share-pass-login .tab-list li:not(:last-child) > .tab:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    display: block;
    margin: auto;
    left: 5px;
    top: 15px;
    background-color: transparent;
    background-image: url("../img/share-express/dots.png");
    background-repeat: repeat-y;
}

.share-pass-login .tab-list .open {
    display: block !important;
}

.share-pass-login .tab-list .tab-active {
    opacity: 1 !important;
}

.share-pass-login .tab-list .tab-active:before {
    background: #CCE500 !important;
    display: block;
    border-radius: 50%;
    border: 5px solid #CCE500 !important;
}

.share-pass-login .tab-content-wrapper {
    position: absolute;
    top: 76px;
    right: 20px;
    z-index: 1;
    width: 254px;
    height: 450px;
    overflow: hidden;
}

.share-pass-login .position {
    position: relative;
    height: 600px;
    text-align: right;
    right: 40px;
}

.share-pass-login .phone-moc {
    height: 600px;
}

.share-pass-login .tab-content {
    text-align: right;
    opacity: 0;
    height: 0;
}

.share-pass-login .tab-content .img-holder img {
    max-width: 100%;
}

.share-pass-login .content-active {
    display: block !important;
    opacity: 1 !important;
    height: 100%;
}

.share-pass-faq {
    padding: 60px 20px;
    background: #FFFFFF;
    line-height: 24px;
    width: 100%;
    display: block;
}

.share-pass-faq .section-container {
    text-align: center;
}

.share-pass-faq .faq-list {
    padding-top: 60px;
    width: 85%;
    margin: auto;
}

.share-pass-faq .faq-row {
    display: block;
    width: 100%;
    max-height: 315px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}

.share-pass-faq .faq-max-height {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
}

.share-pass-faq .indiv-que {
    padding-bottom: 30px;
}

.share-pass-faq .padding-left {
    padding-left: 20px;
}

.share-pass-faq .padding-right {
    padding-right: 20px;
}

.share-pass-faq .wd-50 {
    width: 50%;
    float: left;
    text-align: left;
}

.share-pass-faq .wd-50 .que {
    font-size: 20px;
    font-weight: 400;
    color: #4A4A4A;
    padding-bottom: 10px;
    display: block;
    position: relative;
    padding-left: 25px;
}

.share-pass-faq .wd-50 .que:before {
    content: '\268A';
    position: absolute;
    left: 0;
    top: -5px;
    display: block;
}

.share-pass-faq .wd-50 .ans {
    font-size: 16px;
    font-weight: 300;
    color: #666666;
    opacity: 0.9;
    display: block;
    padding-left: 25px;
}

.share-pass-faq .see-more-holder {
    display: block;
    padding-top: 40px;
}

.share-pass-faq .more-faq {
    display: none;
    width: 100%;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.share-pass-faq .see-more-btn {
    color: #0680FD;
    padding: 0 30px;
    height: 45px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 30px;
    background: #FFFFFF;
    border: 2px solid #0680FC;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    min-width: 200px;
}

.share-pass-faq .see-more-btn:hover {
    background: #0680FD;
    color: #FFFFFF;
}

.offer-wrapper {
    position: relative;
    background: #F1F1F1;
    padding: 60px 20px 10px 20px;
}

.offer-wrapper .app-content {
    position: relative;
    height: 100%;
    padding: 0 5px 0 5px;
    width: 90%;
    margin: auto;
}

.offer-wrapper .section-container .section-sub-heading {
    color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    font-weight: 400;
}

.offer-wrapper .wd-50 {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.offer-wrapper .booking-img {
    max-width: 100%;
    max-height: 300px;
}

.offer-wrapper .book-btn {
    width: 250px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #CCE500;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.offer-wrapper .book-btn:hover {
    background: #bdd400;
}

.offer-wrapper .book-btn:focus {
    outline: none;
}

.offer-wrapper .download-content {
    width: 100%;
    display: block;
    padding-left: 20px;
}

.offer-wrapper .download-content .info {
    color: rgba(0, 0, 0, 0.92);
    font-weight: 300;
    opacity: 0.9;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 16px;
}

.download-app {
    position: relative;
    background: #FDFDFD;
    height: 400px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.download-app .app-content {
    position: relative;
    height: 100%;
    padding: 30px 0 0 0;
}

.download-app .wd-50 {
    width: 50%;
    height: 100%;
}

.download-app .booking-img {
    max-width: 100%;
    height: 100%;
}

.download-app .section-container .section-heading {
    padding-top: 30px;
}

.download-app .download-content {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 50%;
    padding-left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.download-app .download-content .info {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 90px;
    font-size: 18px;
}

.download-app .download-link-wrapper .download-lab {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.download-app .download-link-wrapper .download-link {
    display: inline-block;
    margin-right: 10px;
    max-width: 165px;
}

.download-app .download-link-wrapper .download-link img {
    max-width: 100%;
    height: 48px;
}

.ola-features {
    background: #FFFFFF;
    padding: 30px 0;
    letter-spacing: 0.3px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.ola-features .features-wrapper {
    display: block;
    width: 100%;
}

.ola-features .indiv-feature {
    width: 33.33%;
    float: left;
    position: relative;
}

.ola-features .indiv-feature .feature-img {
    width: 45px;
    position: absolute;
    left: 0;
    top: 0;
}

.ola-features .indiv-feature .feature-content {
    margin-left: 65px;
    padding-right: 20px;
}

.ola-features .indiv-feature .feature-content .heading {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 2px;
}

.ola-features .indiv-feature .feature-content .info {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 24px;
    font-weight: 300;
}

.express-route-container {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.express-route-container .express-form-wrapper {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}

.express-route-container .google-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    filter: hue-rotate(25deg);
}

.express-route-container .iframe-container {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
}

.express-route-container .iframe-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
}

.express-route-container .express-form {
    padding: 30px;
    background: #FFFFFF;
    width: 420px;
    position: absolute;
    top: 50%;
    left: 0;
    box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.express-route-container .express-form .section-heading {
    padding-bottom: 20px;
}

.express-route-container .user-fileds-wrapper {
    display: block;
    position: relative;
}

.express-route-container .dots {
    position: absolute;
    width: 2px;
    height: 64%;
    background: url("../img/share-express/location-dots.png");
    background-repeat: repeat;
    background-size: 2px;
    background-position: 0 75%;
    background-repeat: round;
    left: 17px;
    top: 31px;
}

.express-route-container .express-form .input-complete .comm-caption {
    display: block;
}

.express-route-container .express-form .input-complete .custom-input {
    padding-top: 10px;
    opacity: 1;
    background-image: none;
}

.express-route-container .express-form .input-complete .custom-select {
    padding-top: 10px;
}

.express-route-container .express-form .input-complete .blue {
    background: #4990E2;
}

.express-route-container .express-form .input-complete .green {
    background: #54A624;
    opacity: 1;
}

.express-route-container .express-form .input-complete .red {
    background: #FF665A;
    opacity: 1;
}

.express-route-container .input-disabled {
    cursor: not-allowed;
}

.express-route-container .input-disabled > * {
    pointer-events: none;
}

.express-route-container .indiv-field {
    margin-bottom: 8px;
    position: relative;
}

.express-route-container .indiv-field .circle {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #F4F4F4;
    top: 23px;
    left: 14px;
    z-index: 1;
}

.express-route-container .indiv-field .blue {
    border: 2px solid #4990E2;
}

.express-route-container .indiv-field .green {
    border: 2px solid #54A624;
    opacity: 0.5;
}

.express-route-container .indiv-field .red {
    border: 2px solid #FF665A;
    opacity: 0.5;
}

.express-route-container .indiv-field .comm-caption {
    text-transform: uppercase;
    font-size: 10px;
    color: #9B9B9B;
    position: absolute;
    left: 33px;
    top: 10px;
    display: none;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.express-route-container .indiv-field .input-padd {
    padding-top: 10px !important;
}

.express-route-container .indiv-field .custom-select {
    font-family: 'Gentona';
    background-color: #F4F4F4;
    background-image: url("../img/share-express/down-arrow.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 15px center;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-weight: 400;
    height: 52px;
    color: #4A4A4A;
    font-size: 16px;
    padding: 0 33px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 100%;
    letter-spacing: 0.3px;
    transition: all 0.15s ease;
}

.express-route-container .indiv-field .custom-select:focus {
    outline: none;
    border: 1px solid #CCE500;
}

.express-route-container .indiv-field input::-webkit-input-placeholder {
    color: #4A4A4A;
}

.express-route-container .indiv-field input::-moz-placeholder {
    color: #4A4A4A;
}

.express-route-container .indiv-field input:-ms-input-placeholder {
    color: #4A4A4A;
}

.express-route-container .indiv-field input:-moz-placeholder {
    color: #4A4A4A;
}

.express-route-container .indiv-field .custom-input {
    font-family: 'Gentona';
    background-color: #F4F4F4;
    background-image: url("../img/share-express/search-icon.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 15px center;
    border: 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 52px;
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 400;
    padding: 0 33px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 100%;
    letter-spacing: 0.3px;
    opacity: 0.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.express-route-container .indiv-field .custom-input:focus {
    outline: none;
    border: 1px solid #CCE500;
    opacity: 1;
}

.express-route-container .indiv-field .active-opacity {
    opacity: 1 !important;
}

.express-route-container .indiv-field .active-opacity + .green, .express-route-container .indiv-field .active-opacity + .red {
    opacity: 1;
}

.express-route-container .indiv-field .custom-input:focus + .green, .express-route-container .indiv-field .custom-input:focus + .red {
    opacity: 1;
}

.express-route-container .indiv-field .auto-complete {
    position: absolute;
    top: 48px;
    left: 0;
    display: none;
    height: 200px;
    width: 100%;
    overflow-y: auto;
    background: #F4F4F4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 3;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.express-route-container .indiv-field .auto-complete ul {
    list-style: none;
}

.express-route-container .indiv-field .auto-complete ul li {
    display: block;
    padding: 15px 33px;
    color: #4A4A4A;
    cursor: pointer;
}

.express-route-container .indiv-field .auto-complete ul li:hover {
    background: #E7E7E7;
}

.express-route-container .indiv-field .bidirectional {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 52px;
    text-align: center;
    line-height: 60px;
}

.express-route-container .indiv-field:last-child {
    margin-bottom: 0;
}

.express-route-container .btn-holder {
    padding-top: 12px;
}

.express-route-container .btn-holder .input-disabled {
    background: #EBEBEB;
    color: #9B9B9B;
    pointer-events: none;
}

.express-route-container .search-btn {
    width: 100%;
    border-radius: 5px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #CCE500;
    height: 52px;
    line-height: 52px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    margin-right: 15px;
}

.express-route-container .search-btn:hover {
    background: #bdd400;
}

.express-route-container .search-btn:focus {
    outline: none;
}

.express-route-container .disabled {
    background: #EBEBEB !important;
    color: #9B9B9B !important;
}

.express-route-container .expand-close-btn {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    float: right;
    position: absolute;
    top: 15px;
    right: 16px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    line-height: 25px;
    width: 32px;
    height: 32px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.express-route-container .expand-close-btn:hover {
    background: white;
}

.expanded-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.express-route-wrapper {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.express-route-found {
    position: absolute;
    top: 2px;
    left: 20px;
    z-index: 5;
    width: 420px;
    height: 100%;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.1);
}

.express-route-found .banner {
    padding: 20px 60px;
    background: #F4F4F4;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
}

.express-route-found .banner .back-btn {
    padding: 8px;
    position: absolute;
    width: 48px;
    z-index: 2;
    cursor: pointer;
    left: 10px;
    top: 16px;
    text-align: left;
}

.express-route-found .banner .back-btn img {
    max-width: 100%;
}

.express-route-found .banner .heading {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.92);
    margin-bottom: 10px;
    display: block;
    letter-spacing: 0.5px;
}

.express-route-found .banner .sub-title {
    font-size: 16px;
    color: #676767;
    display: block;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.express-route-found .route-tab-list {
    padding-top: 15px;
    padding-bottom: 15px;
}

.express-route-found .route-tab-list ul {
    list-style: none;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.express-route-found .route-tab-list ul li {
    display: inline-block;
    vertical-align: middle;
}

.express-route-found .route-tab-list a {
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    border-radius: 40px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    min-width: 112px;
    text-align: center;
}

.express-route-found .route-tab-list a:hover {
    background: #CCE500;
    opacity: 1;
}

.express-route-found .route-tab-list .route-tab-active {
    background: #CCE500;
    opacity: 1;
}

.express-route-found .route-tab-content-container {
    height: 79%;
    padding-bottom: 30px;
}

.express-route-found .route-tab-content {
    height: 100%;
    overflow: auto;
    display: none;
    opacity: 0;
}

.express-route-found .route-tab-content .indiv-route {
    display: block;
    padding: 18px 40px 14px 20px;
    border-bottom: 1px solid #EFEFEF;
    position: relative;
    cursor: pointer;
    line-height: 16px;
}

.express-route-found .route-tab-content .indiv-route:hover {
    background: #Fafafa;
}

.express-route-found .route-tab-content .indiv-route .route-heading {
    font-size: 18px;
    color: #4990E2;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    font-weight: 400;
}

.express-route-found .route-tab-content .indiv-route .route-details {
    color: #4a4a4a;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: 300;
    padding-bottom: 2px;
}

.express-route-found .route-tab-content .indiv-route .route-timings {
    color: rgba(74, 74, 74, 0.8);
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: 300;
}

.express-route-found .route-tab-content .indiv-route .chevron-icon {
    position: absolute;
    right: 5px;
    width: 20px;
    top: 43%;
    transform: rotate(270deg) translateY(-50%);
    -webkit-transform: rotate(270deg) translateY(-50%);
    -moz-transform: rotate(270deg) translateY(-50%);
    -ms-transform: rotate(270deg) translateY(-50%);
    -o-transform: rotate(270deg) translateY(-50%);
}

.express-route-found .route-content-active {
    display: block !important;
    opacity: 1 !important;
}

.route-map-wraaper {
    max-width: 1200px;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.route-map-info {
    position: absolute;
    top: 2px;
    left: 20px;
    z-index: 5;
    width: 420px;
    height: 100%;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.1);
}

.route-map-info .banner {
    padding: 20px 60px;
    background: #F4F4F4;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
}

.route-map-info .banner .back-btn {
    padding: 8px;
    position: absolute;
    width: 48px;
    z-index: 2;
    cursor: pointer;
    left: 10px;
    top: 16px;
    text-align: left;
}

.route-map-info .banner .back-btn img {
    max-width: 100%;
}

.route-map-info .banner .heading {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.92);
    margin-bottom: 10px;
    display: block;
    letter-spacing: 0.5px;
}

.route-map-info .banner .sub-title {
    font-size: 16px;
    color: #676767;
    display: block;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.route-map-info .route {
    list-style: none;
    padding-top: 20px;
}

.route-map-info .indiv-route {
    position: relative;
    padding: 0px 30px 25px 45px;
    text-align: left;
    display: block;
    letter-spacing: 0.3px;
}

.route-map-info .indiv-route .circle {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    display: block;
    border: 2px solid #4990E2;
    position: absolute;
    left: 15px;
    top: 1px;
    z-index: 3;
    background: #FFFFFF;
}

.route-map-info .indiv-route .route-heading {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
}

.route-map-info .indiv-route .route-subheading {
    font-size: 14px;
    font-weight: 300;
}

.route-map-info .indiv-route:first-child .circle {
    border: 6px solid #54A624;
    background: #FFFFFF;
}

.route-map-info .indiv-route:last-child .circle {
    border: 6px solid #FF665A;
    background: #FFFFFF;
}

.route-map-info .indiv-route:not(:last-child):before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    left: 23px;
    top: 15px;
    width: 2px;
    background: #4990E2;
    z-index: 1;
}

.route-info-wrapper {
    background: #565656;
    border-radius: 5px;
    padding: 10px 15px 20px 15px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 5;
    min-width: 300px;
    max-width: 400px;
}

.route-info-wrapper .title {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 1px solid #686868;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.route-info-wrapper .indiv-row {
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
}

.route-info-wrapper .route-time {
    color: #FFFFFF;
    letter-spacing: 0.5px;
    font-weight: 400;
    display: inline-block;
    padding-right: 10px;
    width: 50%;
    float: left;
}

.route-info-wrapper .route-time .info-heading {
    text-transform: uppercase;
    color: #BFBFBF;
    padding-bottom: 5px;
    font-size: 12px;
}

.route-info-wrapper .route-time .info-content {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

/* Auto Complete */
body .ui-front {
    z-index: 9999;
}

.ui-menu {
    background: #F4F4F4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -15px !important;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 16px;
    max-width: 360px;
    line-height: 16px;
    min-height: 150px;
    max-height: 150px;
    overflow: auto;
}

.ui-menu .ui-menu-item {
    display: block;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 15px 33px;
    color: #4A4A4A;
    cursor: pointer;
    display: block;
}

.ui-menu .ui-menu-item-wrapper:hover {
    background: #E7E7E7;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    background: #E7E7E7;
}

/* modal */
.modal_cotainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.modal_cotainer .modal_content {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
}

.modal_cotainer .modal-position {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.modal_cotainer .video_container {
    max-height: 400px;
    width: 100%;
}

.modal_cotainer .video_container iframe {
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal_cotainer .modal-close {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    float: right;
    position: relative;
    top: 15px;
    right: 16px;
    z-index: 5;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    line-height: 26px;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.modal_cotainer .modal-close:hover {
    background: white;
}

/** pre-loader **/
.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 10;
}

.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
}

.preloader-margin {
    margin-top: 8px;
}

.preloader-wrapper.small {
    width: 24px;
    height: 24px;
}

.preloader-wrapper.big {
    width: 64px;
    height: 64px;
}

.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: #26a69a;
}

.spinner-layer.disabled {
    border-color: #C3C3C3;
}

.spinner-blue, .spinner-blue-only {
    border-color: #4285f4;
}

.spinner-red, .spinner-red-only {
    border-color: #db4437;
}

.spinner-yellow, .spinner-yellow-only {
    border-color: #f4b400;
}

.spinner-green, .spinner-green-only {
    border-color: #CCE500;
}

.active .spinner-layer.spinner-blue {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.active .spinner-layer.spinner-red {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.active .spinner-layer.spinner-yellow {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.active .spinner-layer.spinner-green {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.active .spinner-layer, .active .spinner-layer.spinner-blue-only, .active .spinner-layer.spinner-red-only, .active .spinner-layer.spinner-yellow-only, .active .spinner-layer.spinner-green-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes blue-fade-in-out {
    from {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blue-fade-in-out {
    from {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes red-fade-in-out {
    from {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }
}

@keyframes red-fade-in-out {
    from {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }
}

@-webkit-keyframes yellow-fade-in-out {
    from {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }
}

@keyframes yellow-fade-in-out {
    from {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }
}

@-webkit-keyframes green-fade-in-out {
    from {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes green-fade-in-out {
    from {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.gap-patch .circle {
    width: 1000%;
    left: -450%;
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
}

.active .circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

#spinnerContainer.cooldown {
    -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/** pre-loader end **/
@media only screen and (max-width: 768px) {
    body .secondary-header .mb-logo {
        width: 130px;
    }

    body .secondary-header .mb-logo .mb-logo-img {
        width: 130px;
    }

    .body-top-padding {
        padding-top: 50px;
    }

    .top-banner {
        height: 450px;
    }

    .section-container .section-heading {
        font-size: 28px;
    }

    .section-container .section-sub-heading {
        font-size: 16px;
    }

    .custom-carousel-wrapper .overlay {
        background: rgba(0, 0, 0, 0.4);
    }

    .custom-carousel-wrapper .overlay-left {
        display: none;
    }

    .custom-carousel-wrapper .nearby-banner {
        background-position: 66% 45%;
    }

    .custom-carousel-wrapper .carousel-item {
        height: 450px;
    }

    .custom-carousel-wrapper .carousel-content {
        left: 20px;
        right: 20px;
        text-align: left;
        top: 50%;
    }

    .custom-carousel-wrapper .carousel-content .title {
        font-size: 36px;
        line-height: 46px;
    }

    .custom-carousel-wrapper .carousel-content .mix-title {
        font-size: 36px;
        line-height: 46px;
    }

    .custom-carousel-wrapper .carousel-content .mix-title h1 {
        font-size: 36px;
    }

    .custom-carousel-wrapper .carousel-content .sub-title {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 28px;
    }

    .custom-carousel-wrapper .carousel-content .hash-tag {
        margin-bottom: 50px;
    }

    .custom-carousel-wrapper .carousel-content br {
        display: none;
    }

    .custom-carousel-wrapper .carousel-content .book-btn {
        width: auto;
        margin-right: 10px;
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .custom-carousel-wrapper .carousel-content .watch-btn {
        width: auto;
        margin-left: 0;
        height: 45px;
        line-height: 45px;
        padding: 0 10px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .share-pass-info-wrapper {
        padding: 35px 20px;
    }

    .share-pass-info-wrapper .section-container .section-heading {
        font-size: 28px;
        line-height: 32px;
    }

    .share-pass-info-wrapper .section-container .section-sub-heading {
        max-width: 100%;
    }

    .express-route-container {
        height: auto;
    }

    .express-route-container .map-hidden-xs {
        position: absolute;
        left: -100%;
    }

    .express-route-container .google-map-xs {
        display: block;
        height: 100%;
        margin-top: 95px;
    }

    .express-route-container .express-form-wrapper {
        height: auto;
    }

    .express-route-container .express-form {
        width: 100%;
        display: block;
        position: static;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        box-shadow: none;
        padding: 35px 10px;
    }

    .express-route-container .expand-close-btn {
        display: none;
    }

    .express-route-found {
        position: static;
        width: 100%;
    }

    .express-route-found .route-tab-list ul {
        width: 95%;
    }

    .express-route-found .route-tab-list a {
        font-size: 14px;
        min-width: auto;
        max-width: 105px;
    }

    .white-space {
        display: none;
    }

    .route-map-info {
        position: static;
        width: 100%;
    }

    .download-app {
        height: auto;
    }

    .download-app .app-content {
        padding: 35px 16px 35px 16px;
    }

    .download-app .wd-50 {
        width: 100%;
        display: block;
        text-align: left;
    }

    .download-app .booking-img {
        height: auto;
        max-height: 400px;
    }

    .download-app .download-content {
        display: block;
        position: static;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }

    .download-app .download-content .info {
        margin-bottom: 40px;
    }

    .download-app .download-content .info br {
        display: none;
    }

    .download-app .download-content .download-link-wrapper .download-link {
        max-width: 95px;
        margin-bottom: 10px;
    }

    .download-app .download-content .download-link-wrapper .download-link img {
        height: 30px;
    }

    .ola-features {
        padding: 25px 16px;
    }

    .ola-features .features-wrapper {
        display: block;
    }

    .ola-features .indiv-feature {
        width: 100%;
        margin-bottom: 20px;
        display: block;
    }

    .ola-features .indiv-feature .feature-content .heading {
        font-size: 16px;
    }

    .ola-features .indiv-feature .feature-content .info {
        font-size: 14px;
    }

    .ola-features .indiv-feature .feature-content .info br {
        display: none;
    }

    .ola-features .indiv-feature:last-child {
        margin-bottom: 0;
    }

    .share-pass-features {
        padding: 35px 20px;
    }

    .share-pass-features .section-container .section-heading {
        font-size: 28px;
        padding: 0 20px;
        line-height: 32px;
    }

    .share-pass-features .features-row {
        padding-top: 0px;
    }

    .share-pass-features .padding-left-0 {
        padding-left: 20px !important;
    }

    .share-pass-features .padding-right-0 {
        padding-right: 20px !important;
    }

    .share-pass-features .wd-3 {
        width: 100%;
        padding-top: 30px;
    }

    .share-pass-features .features-row .img-holder {
        padding-bottom: 20px;
    }

    .share-pass-features .features-row .img-holder img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 200px;
        height: 135px;
    }

    .share-pass-features .features-row .info {
        padding: 20px 0 0 0;
    }

    .share-pass-features .features-row .info .msg {
        padding: 0 0;
    }

    .share-pass-login {
        padding: 35px 20px 30px 20px;
        max-height: none;
    }

    .share-pass-login .section-container .section-heading br {
        display: none;
    }

    .share-pass-login .top-space {
        padding-top: 0;
    }

    .share-pass-login .tab-content {
        text-align: center;
    }

    .share-pass-login .wd-80 {
        width: 100%;
    }

    .share-pass-login .wd-50 {
        width: 100%;
    }

    .share-pass-login .section-container {
        text-align: center;
    }

    .share-pass-login .padding-right {
        padding-right: 0;
    }

    .share-pass-login .padding-left {
        padding-left: 0;
    }

    .share-pass-login .tab-list {
        text-align: left;
    }

    .share-pass-login .tab-list .tab {
        margin-top: 15px;
    }

    .share-pass-login .tab-list .tab label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .share-pass-login .tab-list .tab p {
        font-size: 14px;
    }

    .share-pass-login .position {
        text-align: center;
        right: 0;
        margin-top: 20px;
        height: 500px;
    }

    .share-pass-login .phone-moc {
        height: 500px;
    }

    .share-pass-login .tab-content-wrapper {
        top: 64px;
        left: 0;
        right: 0;
        margin: auto;
        width: 212px;
        height: 374px;
    }

    .share-pass-login .tab-content .img-holder {
        text-align: center;
    }

    .share-pass-faq {
        padding: 35px 20px;
    }

    .share-pass-faq .faq-max-height {
        max-height: none !important;
        overflow: auto;
    }

    .share-pass-faq .section-container .section-heading {
        line-height: 32px;
    }

    .share-pass-faq .wd-50 {
        width: 100%;
    }

    .share-pass-faq .padding-left {
        padding-left: 0;
    }

    .share-pass-faq .padding-right {
        padding-right: 0;
    }

    .share-pass-faq .faq-list {
        width: 100%;
        padding-top: 30px;
    }

    .share-pass-faq .faq-row {
        margin-top: 0;
        max-height: 500px;
    }

    .offer-wrapper {
        height: auto;
        padding: 35px 20px;
    }

    .offer-wrapper .app-content {
        padding: 0;
    }

    .offer-wrapper .wd-50 {
        width: 100%;
        display: block;
        text-align: left;
    }

    .offer-wrapper .booking-img {
        height: auto;
        margin-bottom: 5px;
    }

    .offer-wrapper .section-container .section-sub-heading {
        font-size: 18px;
    }

    .offer-wrapper .download-content {
        padding-left: 0;
    }

    .offer-wrapper .download-content .info {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .offer-wrapper .download-content .info br {
        display: none;
    }

    .offer-wrapper .book-btn {
        height: 45px;
        line-height: 45px;
    }

    .modal_cotainer .modal_content {
        padding: 0 16px;
    }

    .modal_cotainer .modal_content .modal-position {
        width: 100%;
        display: block;
        padding: 16px;
    }

    .route-map-wraaper {
        height: auto;
    }

    .route-info-wrapper {
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        background: #FFFFFF;
        border-radius: 0;
        margin-top: 10px;
    }

    .route-info-wrapper .title {
        color: #565656;
        border-bottom: 1px solid #cecece;
    }

    .route-info-wrapper .route-time {
        color: #565656;
    }

    .route-info-wrapper .route-time .info-heading {
        color: #565656;
    }

    body .ui-menu {
        max-width: 100%;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .custom-carousel-wrapper .carousel-content {
        left: 20px;
    }

    .share-pass-login .wd-80 {
        width: 90%;
    }

    .share-pass-faq .faq-list {
        width: 90%;
    }

    .download-app {
        padding: 0 20px;
    }

    .share-pass-features .features-row .img-holder img {
        max-width: 100%;
        max-height: 250px;
    }

    .share-pass-features .features-row .info .msg {
        padding: 0 0;
    }

    .download-app {
        padding: 0 20px;
    }

    .offer-wrapper .app-content {
        width: 95%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1150px) {
    .custom-carousel-wrapper .carousel-content {
        left: 20px;
    }

    .download-app {
        padding: 0 20px;
    }
}
